<base-dashboard title="Generate Bill" userName="enmarcm">
  <div
    class="grid grid-cols-2 grid-rows-2 gap-0 w-full h-full bg-white p-4 rounded-md shadow-md"
  >
    <div class="col-start-1 col-end-2 row-start-1 row-end-2">
      <customer-info (customerAdded)="handleCustomerAdded($event)" />
    </div>
    <div class="col-start-1 col-end-2 row-start-2 row-end-3">
      <add-payments />
    </div>
    @if(!isCustomerAdded){
    <div class="col-start-2 col-end-3 row-start-1 row-end-3 flex w-full h-full justify-center items-center">
      <h3 class="text-xl text-blue-input font-bold font-DM">Add a customer to start a new bill</h3>
    </div>
    } @if(isCustomerAdded){
    <div class="col-start-2 col-end-3 row-start-1 row-end-3">
      <app-bill-summary [customerName]="billCustomer" (billDeleted)="handleBillDeleted() " />
    </div>
    }
  </div>
</base-dashboard>
