<div class="h-screen grid grid-cols-login">
  <div class="flex flex-col gap-1 items-center justify-center">
    <section class="w-2/3 min-h-1/3">
      <div class="flex flex-col items-center justify-center my-3">
        <h1 class="text-blue-input text-2xl font-Poppins font-semibold">
          Create account
        </h1>
        <p class="text-gray-400 my-2 text-sm">
          Enter your name, email and password to register!
        </p>
        <hr />
      </div>

      <div class="my-4">
        <form class="flex flex-col gap-3">
          <div class="grid grid-cols-2 grid-rows-3 gap-2 w-full">
            <div
              class="col-start-1 col-end-2 row-start-1 row-end-2 flex gap-3 w-full"
            >
              <app-input
                type="select"
                title="Type"
                [options]="optionsDocument"
                class="w-full"
              />
              <app-input
                type="number"
                title="Document"
                placeholder="29955123..."
              />
            </div>
            <div class="col-start-1 col-end-2 row-start-2 row-end-3">
              <app-input
                type="text"
                title="Full Name*"
                placeholder="Lionel Messi"
              />
            </div>
            <div class="col-start-1 col-end-2 row-start-3 row-end-4">
              <app-input
                type="text"
                title="Address*"
                placeholder="123 Main Street, Anytown, USA 12345"
              />
            </div>
            <div class="col-start-2 col-end-3 row-start-2 row-end-3">
              <app-input
                type="email"
                title="Email*"
                placeholder="mail@sample.com"
              />
            </div>
            <div class="col-start-2 col-end-3 row-start-3 row-end-4">
              <app-input
                type="password"
                title="Password"
                placeholder="12345678"
              />
            </div>
          </div>

          <div class="mt-8 flex flex-col gap-2 items-center justify-center">
            <app-button content="Register" class="w-1/3" [route]="routes.mainOutside"/>
            <a
              [routerLink]="'/' + routes.login"
              class="text-blue-input font-semibold"
              >Already have an account?</a
            >
          </div>
        </form>
      </div>
    </section>
  </div>

  <easy-logo class="sm: hidden lg:block" />
</div>
