<div class="h-screen w-full overflow-hidden">
  <div class="absolute h-full w-full">
    <canvas id="canvas3d" #canvas3d class="w-full"></canvas>
  </div>

  <div class="flex items-center justify-center w-full h-full z-10 backdrop-blur-sm pointer-events-none flex-col">

    <div class="flex items-center justify-center gap-4">
      <img src="../../../assets/easybill logo.svg" alt="Logo" class="w-20">
      <p class="text-white relative text-7xl font-bold font-DM">EASYBILL</p>
    </div>

    <div class="flex mt-28 gap-4 w-1/4 justify-around ">
      <app-button class="w-full" content="Ingresa" type="primary"/>
      <app-button class="w-full" content="Contacto" type="secondary" />
    </div>
  </div>
</div>
