<div class="h-screen w-full overflow-hidden">
  <div class="absolute h-full w-full transition-none bg-black" >
    <canvas id="canvas3d" #canvas3d class="w-full"></canvas>
  </div>

  <div class="flex items-center justify-center w-full h-full z-10 backdrop-blur-sm pointer-events-none flex-col">

    <div class="flex items-center justify-center gap-4 ">
      <app-logo class="w-20"/>
      <p class="text-white relative text-7xl font-bold font-Poppins tracking-wider">EASYBILL</p>
    </div>

    <div class="flex mt-28 gap-4 w-1/4 justify-around z-10 pointer-events-auto">
      <app-button class="w-full" content="Login" type="primary" [route]="routes.login"/>
      <app-button class="w-full" content="Register" type="secondary" [route]="routes.register"/>
    </div>

  </div>
</div>
