<div class="w-full h-full">
    <div class="font-bold text-sm text-gray-500">item</div>
    <div class="font-bold text-sm text-gray-500">sku</div>
    <div class="font-bold text-sm text-gray-500">description</div>
    <div class="font-bold text-sm text-gray-500">price</div>
    <div class="font-bold text-sm text-gray-500">ammount</div>
    <div class="font-bold text-sm text-gray-500">tax</div>
    <div class="font-bold text-sm text-gray-500">total</div>
    <div class="font-bold text-sm text-gray-500">action</div>
</div>