<base-dashboard title="Main Dashboard" userName="enmarcm" background="dashboard" class="">

<div class="w-full h-full flex flex-col">
    <div class="flex gap-5 w-10/12">
        <card-info class="w-full" title="Customers"/>
        <card-info class="w-full" title="Total Payments" content="$200,000"/>
        <card-info class="w-full" title="Cashiers" content=3/>
    </div>

    <div class="h-full rounded-lg shadow-sm w-full bg-white my-4 p-3">
        Hola mundo
    </div>
</div>

</base-dashboard>